.mainDiv {
    color: #085353;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.welcomeLogin{
    margin: 10px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    background: linear-gradient(45deg, #36b7ae, #a3cc75);
    background-size: 400% 400%;
    animation: gradient-shift 30s ease infinite;
    border-radius: 1em;
    padding:2%;
}

#userWelcome {
    color: white;
    text-transform: uppercase;
}

.recentGames {
    margin: 10px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    background: linear-gradient(45deg, #36b7ae, #a3cc75);
    background-size: 400% 400%;
    animation: gradient-shift 30s ease infinite;
    border-radius: 1em;
    padding:2%;
}
.recentGamesHeader {
    font-size: 3em;
    text-decoration: underline;
}
