.errorWrapper{
    color: #085353;
    margin: 10px auto;
    width: 20vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
    background: linear-gradient(45deg, #36b7ae, #a3cc75);
    background-size: 400% 400%;
    animation: gradient-shift 30s ease infinite;
    border-radius: 1em;
    padding:5%;
}

#errorLink a{
    background-color: white;
    color:#085353;
    padding: 15px 32px;
    font-size: 1em;
    border-radius: 2em;
}

#errorLink a:hover{
    font-weight: bold;
    text-decoration: none;
}
