.gamesList ul{
    display: flex;

    justify-content: center;
    font-size: calc(10px + 1vmin);
}
.gamesListTitle{
    font-size: calc(15px + 1vmin);
}
.gamesList ul li{ 
    padding-left: 20px;
    list-style: none;
}
.gamesLogo img{
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
}
